* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.demo {
  border: 1px solid red;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
}
